.container{
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #FF6633;
	overflow-y: scroll;
}

.post {
	/* background-color: yellow; */
	float: left;
	width: 144px;
	height: 125px;
	margin: 2.5%;
}