.container{
	z-index: 50;
	height: 100%;
	width: 100%;
	position: absolute;
}

.top{
	height: 50%;
	width: 100%;
}

.bottom{
	height: 50%;
	width: 100%;
}

.navigationButtons {
	width: 100%;
	position: absolute;
	bottom: 5%;
}
.navigation-button{
	height: 150px;
	width: 150px;
	margin: 10px;
	float: left;
}

#loginCredentials {
	display: none;
	margin: 0 auto;
	width: 90%;
	top: 55%;
	position: relative;
}