.container{
	height: 100%;
	width: 100%;
	position: absolute;
}

form {
	top: 40%;
	width: 70%;
	height: 25%;
	margin-left: 15%;
	position: absolute;
}

#form div {
	margin-top: 25px;
	margin-bottom: 20px;
}

#form div input {
	padding: 10px;
}

input {
	background-image: url(../img/signup/signup-bar.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 50px;
	width: 553px;
	border: none;
}