.container{
	z-index: 50;
	height: 100%;
	width: 100%;
	position: absolute;
}

.navigationButtons {
	width: 100%;
	position: absolute;
	bottom: 5%;
}
.navigation-button{
	height: 150px;
	width: 150px;
	margin: 10px;
	float: left;
}

#loginCredentials {
	display: none;
	margin: 0 auto;
	width: 140%;
	top: 55%;
	left: -20%;
	position: relative;
}

#form {
	margin-bottom: 100px;
}