.container{
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #FF6633;
}

.send-container{
	background-color: #FFFFFF;
	margin-left: 5%;
	width: 90%;
	height: 40%;
	top: 55%;
	position: absolute;
}

.picture{
	background-color: #FFFFFF;
	margin-left: 5%;
	top: 5%;
	width: 42.5%;
	height: 20%;
	position: absolute;
}

.location{
	background-color: #FFFFFF;
	margin-left: 52.5%;
	width: 42.5%;
	height: 20%;
	top: 5%;
	position: absolute;
}

.schedule{
	background-color: #FFFFFF;
	margin-left: 5%;
	width: 42.5%;
	height: 20%;
	top: 30%;
	position: absolute;
}

.alert{
	background-color: #FFFFFF;
	margin-left: 52.5%;
	width: 42.5%;
	height: 20%;
	top: 30%;
	position: absolute;
}

.take-photo{
	background-color: #c0c0c0;
	position: absolute;
	width: 42.5%;
	height: 57%;
	margin-left: 5%;
	top: 5%;
}

.text{
	background-color: #c0c0c0;
	position: absolute;
	width: 42.5%;
	height: 26%;
	margin-left: 5%;
	top: 67%;
}

.person{
	background-color: #c0c0c0;
	position: absolute;
	width: 42.5%;
	height: 26%;
	margin-left: 52.5%;
	top: 5%;
}

.photo-location{
	background-color: #c0c0c0;
	position: absolute;
	width: 42.5%;
	height: 26%;
	margin-left: 52.5%;
	top: 36%;
}

.send{
	background-color: #c0c0c0;
	position: absolute;
	width: 42.5%;
	height: 26%;
	margin-left: 52.5%;
	top: 67%;
}