#signIn .ui-content,
#home .ui-content{
	position:absolute;
	bottom: 5%;
	left: 0;
	right: 0
}

.nav{
	margin: 0 25%;
	list-style-type: none;
	padding: 0;
}
.nav li{
	float: left;
	width: 48%;
	padding: 1%
}

.nav li img{
	width: 100%
}

.navigationButtons {
	width: 100%;
	position: absolute;
	bottom: 5%;
}
.navigation-button{
	height: 150px;
	width: 150px;
	margin: 10px;
	float: left;
}

#login-form{
	display: none;
}

#loginCredentials {
	display: none;
	margin: 0 auto;
	width: 90%;
	top: 55%;
	position: relative;
}